@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  overflow: hidden;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: #4F4F4F;
}

button {
  text-decoration: none;
  background-color: #2828b6;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.2s opacity ease;
  transition: 0.2s opacity ease;
}
button:hover {
  opacity: 0.8;
}
button:disabled {
  opacity: 0.55;
}

.admin {
  border-right: 1px solid #1C1C1C;
  height: 100%;
  background-color: #363636;
}
.admin_list {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
     -moz-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
     -moz-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}
.admin_item {
  margin-bottom: 10px;
}

.home {
  border: 1px solid black;
  height: 100%;
  position: relative;
}
.home_block {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clicks-for-one-click {
  font-size: 10px;
  position: absolute;
  top: 2%;
  right: 40%;
}

.upgrades-block_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.upgrades-block-Async_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.counter {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
     -moz-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
     -moz-margin-end: 0px;
          margin-inline-end: 0px;
  font-size: 150px;
  position: relative;
}
.counter_subheader {
  text-align: center;
  position: relative;
  bottom: 160px;
}

.click {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.buttonAdmin {
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.modal-window_upgradesSubstrate {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-window_upgrades {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  background-color: gray;
}
.modal-window_upgradesBack {
  cursor: pointer;
  font-size: 30px;
  color: #d91515;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}
.modal-window_designSubstrate {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-window_design {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  background-color: gray;
}
.modal-window_designBack {
  cursor: pointer;
  font-size: 30px;
  color: #d91515;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}
.modal-window_wrongPromoSubstrate {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-window_wrongPromo {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  background-color: gray;
}
.modal-window_statisticsSubstrate {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-window_statistics {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  background-color: gray;
}
.modal-window_settingsSubstrate {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-window_settings {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  background-color: gray;
}

.settingsBack {
  cursor: pointer;
  font-size: 30px;
  color: #d91515;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 9999;
}

.notEnoughModalShowClose {
  cursor: pointer;
  font-size: 20px;
  color: #d91515;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 9999;
}

.wrongPromoHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.wrongPromoBack {
  cursor: pointer;
  font-size: 30px;
  color: #d91515;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

.statisticsBack {
  cursor: pointer;
  font-size: 30px;
  color: #d91515;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9999;
}

@media (max-width: 600px) {
  .modal-window_upgrades {
    width: 380px;
    height: 220px;
  }
  .modal-window_design {
    width: 380px;
    height: 220px;
  }
  .modal-window_wrongPromoSubstrate {
    font-size: 18px;
  }
  .modal-window_wrongPromo {
    width: 380px;
    height: 220px;
  }
  .modal-window_statistics {
    width: 380px;
    height: 220px;
  }

  .statisticsBack {
    font-size: 30px;
  }

  .wrongPromoHeader {
    font-size: 25px;
  }

  .notEnoughModalShow {
    width: 380px;
    height: 220px;
  }

  .notEnoughHeader {
    font-size: 20px;
  }

  .notEnoughSubheader {
    font-size: 18px;
  }

  .click {
    padding: 10px 18px;
    font-size: 16px;
  }

  .counter {
    font-size: 120px;
  }
  .counter_subheader {
    bottom: 120px;
  }

  button {
    padding: 6px 12px;
  }
}
@media (max-width: 400px) {
  .modal-window_upgrades {
    width: 320px;
    height: 180px;
  }
  .modal-window_design {
    width: 320px;
    height: 180px;
  }
  .modal-window_wrongPromoSubstrate {
    font-size: 16px;
  }
  .modal-window_wrongPromo {
    width: 320px;
    height: 180px;
  }
  .modal-window_statistics {
    width: 320px;
    height: 180px;
  }

  .statisticsBack {
    font-size: 25px;
  }

  .wrongPromoHeader {
    font-size: 20px;
  }

  .notEnoughModalShow {
    width: 320px;
    height: 180px;
  }

  .notEnoughHeader {
    font-size: 25px;
  }

  .notEnoughSubheader {
    font-size: 20px;
  }

  .notEnoughModalShowBack {
    font-size: 25px;
  }

  .notEnoughModalShowClose {
    font-size: 18px;
  }

  button {
    padding: 4px 6px;
    font-size: 13px;
  }

  .asyncUpgrade {
    padding: auto;
    -webkit-margin-start: 0;
       -moz-margin-start: 0;
            margin-inline-start: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    font-size: 12px;
  }

  .upgrades-block_list {
    margin-left: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    -webkit-margin-start: 20px;
       -moz-margin-start: 20px;
            margin-inline-start: 20px;
    -webkit-margin-end: 0;
       -moz-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-start: 0;
       -moz-padding-start: 0;
            padding-inline-start: 0;
  }
  .upgrades-block_subheader {
    font-size: 18px;
    gap: 7px;
  }
  .upgrades-block-Async_subheader {
    font-size: 18px;
    gap: 7px;
  }
}
@media (max-width: 320px) {
  .modal-window_upgrades {
    width: 280px;
    height: 150px;
  }
  .modal-window_upgradesBack {
    font-size: 25px;
  }
  .modal-window_design {
    width: 280px;
    height: 150px;
  }
  .modal-window_wrongPromoSubstrate {
    font-size: 16px;
  }
  .modal-window_wrongPromo {
    width: 280px;
    height: 150px;
  }
  .modal-window_statistics {
    width: 280px;
    height: 150px;
  }

  .statisticsBack {
    font-size: 20px;
  }

  .notEnoughModalShowClose {
    font-size: 12px;
  }

  .wrongPromoHeader {
    font-size: 16px;
  }

  .notEnoughModalShow {
    width: 280px;
    height: 150px;
  }

  .notEnoughHeader {
    font-size: 20px;
  }

  .notEnoughSubheader {
    font-size: 18px;
  }

  .notEnoughModalShowBack {
    font-size: 22px;
  }

  .upgrades-block_subheader {
    font-size: 15px;
    gap: 3px;
  }
  .upgrades-block-Async_subheader {
    font-size: 15px;
    gap: 3px;
  }

  .button {
    font-size: 12px;
    padding: 3px 4px;
  }

  .click {
    padding: 10px 20px;
  }
}

/*# sourceMappingURL=home.css.map */